/*タブ切り替え全体のスタイル*/
.tabs {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;}
  
  /*タブのスタイル*/
  .tab_item {
    width: calc(100%/7);
    border-bottom: 3px solid #2F4F4F;
    background-color: #d9d9d9;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;
  }
  .tab_item:hover {
    opacity: 0.75;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
    height:300vh;
  }
  
  
  /*選択されているタブのコンテンツのみを表示*/
  #home:checked ~ #home_content,
  #tops:checked ~ #htops_content,
  #bottoms:checked ~ #bottoms_content,
  #shoes:checked ~ #shoes_content ,
  #items:checked ~ #items_content ,
  #recommend:checked ~ #recommend_content ,
  #post:checked ~ #post_content {
    display: block;
  }
  
  /*選択されているタブのスタイルを変える*/
  .tabs input:checked + .tab_item {
    background-color: #2F4F4F;
    color: #fff;
  }

 .title_box {
    position: relative;
 }

 .title1 {
    font: var(--font_3);
    color: #6b5abf;
    font-size: 70px;
    position: absolute;
    top: 20%;
    left:41%;
 }

 .login {
    color: white;
    font-size: 23px;
    position: absolute;
    top: 50%;
    left: 48%;
    background:#5d62bf; /*背景色の指定*/
    border-radius: 6px; /*角丸の指定*/
    padding:10px;
}
 
.topic_img {
    background-color: red;
    width:100%;
    height:500px;
    margin:0 auto;
    display:flex;
}

.topic_img img {
    width: 20%;
    height: auto;
}